@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: #333333;
  font-size: 18px;
  background: #e0e0e0;
}

/* Navbar */

nav {
  background: #e0e0e0;
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
}

nav h3 {
  font-size: 1.25rem;
}

#navLinks a {
  margin-left: 45px;
  text-decoration: none;
  font-size: 1rem;
}

/* Home */

#home {
  display: flex;
  margin: 30px 70px;
  height: 850px;
}

#homeLeft {
  padding-top: 130px;
  width: 55%;
}

#homeRight {
  background: rgb(230, 204, 199);
  width: 45%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homePhrase {
  font-size: 4rem;
  padding-bottom: 2rem;
}

#homeDescription {
}
